{{!< default}}

{{>navigation_wrapper}}

<div class="wrapper">
	<section class="main-container">
		<div class="content">
			<header>
				<h1>About</h1>
			</header>

			<article class="about-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</article>

			<div class="right-column">
				<article class="skills">
					<h2>Skills</h2>

					<div>
						<ul>
							<li>HTML5</li>
						</ul>

						<ul>
							<li>CSS</li>
							<li>SASS</li>
							<li>Compass</li>
							<li>LESS</li>
						</ul>

						<ul>
							<li>Javascript</li>
							<li>jQuery</li>
						</ul>

						<ul>
							<li>Node.js</li>
							<li>Express.js</li>
							<li>Harp.js</li>
						</ul>

						<ul>
							<li>PHP</li>
							<li>Razor</li>
						</ul>

						<ul>
							<li>Grunt</li>
						</ul>
					</div>
				</article>

				<article class="programs">
					<h2>Programs</h2>

					<div>
						<ul>
							<li>Photoshop</li>
							<li>Illustrator</li>
							<li>Sketch</li>
						</ul>

						<ul>
							<li>Max/MSP</li>
							<li>Mad Mapper</li>
							<li>Ableton</li>
						</ul>
					</div>
				</article>

				<article class="music">
					<h2>Now Playing</h2>

					<div>
						<figure>
							<img alt="" src="{{song.cover}}" />

							<figcaption>
								<p>Artist: {{song.artist}}</p>
								<p>Album: {{song.album}}</p>
							</figcaption>
						</figure>

						<section>
							<h3>Similar Artists</h3>

							<ul>
								<li>
									<img alt="" src="http://placehold.it/350x350" />

									<p>Aphex Twin</p>
								</li>

								<li>
									<img alt="" src="http://placehold.it/350x350" />

									<p>Aphex Twin</p>
								</li>

								<li>
									<img alt="" src="http://placehold.it/350x350" />

									<p>Aphex Twin</p>
								</li>

								<li>
									<img alt="" src="http://placehold.it/350x350" />

									<p>Aphex Twin</p>
								</li>
							</ul>
						</section>
					</div>
				</article>
			</div>

			<article class="twitter">
				<h2>Recently Said</h2>

				<div>
					<p>{{tweet.tweetHTML}}</p>

					<p class="tweet-info">{{tweet.tweetDateFormat}}</p>
				</div>
			</article>

			<article class="instagram">
				<h2>Recently Saw</h2>

				<ul>
					{{#each images}}
						<li>
							<a href="#">
								<img alt="" src="{{images.standard_resolution.url}}" />
							</a>
						</li>
					{{/each}}
				</ul>
			</article>
		</div>
	</section>
</div>